<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SafeStocks</title>

  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">

</head>

<body>
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <div class="container">
    <div>
      <h1 class="text-center pt-5"><span class="green">Safe</span>Stocks</h1>
      <hr>

      <div class="container">
        {% if name %}
        <h3>Ticker: <span class="formUpper">{{ name }}</span></h3>
        {% else %}
        <h3>Ticker: {{image}}</h3>
        {% endif %}


      </div>
    </div>
    <div class="row">

      <div class="col-sm-6">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th scope="col">Time</th>
              <th scope="col">Predicted Price</th>
              <th scope="col">Predicted Increase</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{infoKeys[0]}} Days</td>
              <td>${{infoValues[0]}}</td>
              <td>$0</td>
            </tr>
            {% for i in range(1,10) %}
            <tr>
              <td>{{infoKeys[i]}} Days</td>
              <td>${{infoValues[i]}}</td>
              <td>${{infoValues[i]-infoValues[i-1]}}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>

      </div>
      <div class="col-sm-6">
        <img src="{{image}}" class="img-fluid">
      </div>
    </div>

    <p class="msg">{{mess}}</p>
    <p class="msg">Volatility Index: {{volatility}}</p>
    <a href = "/" class = "button">Back</a>
  </div>

</body>

</html>